<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>test</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>GCD</string>
				<key>viewController</key>
				<string>GCDViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>KVO</string>
				<key>viewController</key>
				<string>KVOViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Copy</string>
				<key>viewController</key>
				<string>CopyViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>SDWebImage</string>
				<key>viewController</key>
				<string>SDImageViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>KVC</string>
				<key>viewController</key>
				<string>KVCViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NSThread</string>
				<key>viewController</key>
				<string>NSThreadViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>tools</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>Account</string>
				<key>viewController</key>
				<string>AccountHomeViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Tally</string>
				<key>viewController</key>
				<string>TallyHomeViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
