<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H001</key>
	<dict>
		<key>name</key>
		<string>Paladin</string>
		<key>class</key>
		<dict>
			<key>C001</key>
			<dict>
				<key>name</key>
				<string>Retribution</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C002</key>
			<dict>
				<key>name</key>
				<string>Protection</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C003</key>
			<dict>
				<key>New item</key>
				<string>Holy</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
		</dict>
	</dict>
	<key>H002</key>
	<dict>
		<key>name</key>
		<string>Hunter</string>
		<key>class</key>
		<dict>
			<key>C004</key>
			<dict>
				<key>name</key>
				<string>BeastMastery</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C005</key>
			<dict>
				<key>name</key>
				<string>Marksmanship</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C006</key>
			<dict>
				<key>name</key>
				<string>Survival</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
		</dict>
	</dict>
	<key>H003</key>
	<dict>
		<key>name</key>
		<string>Mage</string>
		<key>class</key>
		<dict>
			<key>C007</key>
			<dict>
				<key>name</key>
				<string>Arcane</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C008</key>
			<dict>
				<key>name</key>
				<string>Fire</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C009</key>
			<dict>
				<key>name</key>
				<string>Frost</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
		</dict>
	</dict>
	<key>H004</key>
	<dict>
		<key>name</key>
		<string>Priest</string>
		<key>class</key>
		<dict>
			<key>C010</key>
			<dict>
				<key>name</key>
				<string>Discipline</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C011</key>
			<dict>
				<key>name</key>
				<string>Holy</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C012</key>
			<dict>
				<key>name</key>
				<string>Shadow</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
		</dict>
	</dict>
	<key>H005</key>
	<dict>
		<key>name</key>
		<string>Rogue</string>
		<key>class</key>
		<dict>
			<key>C013</key>
			<dict>
				<key>name</key>
				<string>Assassination</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C014</key>
			<dict>
				<key>name</key>
				<string>Combat</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C015</key>
			<dict>
				<key>name</key>
				<string>Subtlety</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
		</dict>
	</dict>
	<key>H006</key>
	<dict>
		<key>name</key>
		<string>Shaman</string>
		<key>class</key>
		<dict>
			<key>C016</key>
			<dict>
				<key>name</key>
				<string>Elemental</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C017</key>
			<dict>
				<key>name</key>
				<string>Enhancement</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C018</key>
			<dict>
				<key>name</key>
				<string>Restoration</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
		</dict>
	</dict>
	<key>H007</key>
	<dict>
		<key>name</key>
		<string>Warlock</string>
		<key>class</key>
		<dict>
			<key>C019</key>
			<dict>
				<key>name</key>
				<string>Affliction</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C020</key>
			<dict>
				<key>name</key>
				<string>Demonology</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C021</key>
			<dict>
				<key>name</key>
				<string>Destruction</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
		</dict>
	</dict>
	<key>H008</key>
	<dict>
		<key>name</key>
		<string>Warrior</string>
		<key>class</key>
		<dict>
			<key>C022</key>
			<dict>
				<key>name</key>
				<string>Arms</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C023</key>
			<dict>
				<key>name</key>
				<string>Fury</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C024</key>
			<dict>
				<key>name</key>
				<string>Protection</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
		</dict>
	</dict>
	<key>H009</key>
	<dict>
		<key>name</key>
		<string>Druid</string>
		<key>class</key>
		<dict>
			<key>C025</key>
			<dict>
				<key>name</key>
				<string>Balance</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C026</key>
			<dict>
				<key>name</key>
				<string>FeralCat</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C027</key>
			<dict>
				<key>name</key>
				<string>FeralBear</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
			<key>C028</key>
			<dict>
				<key>name</key>
				<string>Restoration</string>
				<key>health_base</key>
				<integer>200</integer>
				<key>health_growth</key>
				<integer>20</integer>
				<key>energy_base</key>
				<integer>50</integer>
				<key>energy_growth</key>
				<integer>5</integer>
				<key>attack_base</key>
				<integer>30</integer>
				<key>attack_growth</key>
				<integer>3</integer>
				<key>criticalStrike_base</key>
				<real>0.1</real>
				<key>criticalBonus_base</key>
				<real>1.5</real>
				<key>attackInterval_base</key>
				<real>1.5</real>
				<key>hitRate_base</key>
				<real>0.85</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
