<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RetributionPaladin</key>
	<array>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>350</integer>
			<key>energy</key>
			<integer>120</integer>
			<key>attack</key>
			<integer>85</integer>
			<key>defense</key>
			<integer>90</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>410</integer>
			<key>energy</key>
			<integer>150</integer>
			<key>attack</key>
			<integer>91</integer>
			<key>defense</key>
			<integer>110</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>480</integer>
			<key>energy</key>
			<integer>190</integer>
			<key>attack</key>
			<integer>150</integer>
			<key>defense</key>
			<integer>150</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>560</integer>
			<key>energy</key>
			<integer>240</integer>
			<key>attack</key>
			<integer>200</integer>
			<key>defense</key>
			<integer>200</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>260</integer>
			<key>defense</key>
			<integer>260</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
		<dict>
			<key>health</key>
			<integer>300</integer>
			<key>energy</key>
			<integer>100</integer>
			<key>attack</key>
			<integer>80</integer>
			<key>defense</key>
			<integer>80</integer>
			<key>criticalStrike</key>
			<real>0.05</real>
			<key>criticalBonus</key>
			<real>1.5</real>
			<key>attackSpeed</key>
			<real>1.5</real>
		</dict>
	</array>
</dict>
</plist>
