<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>101</key>
	<dict>
		<key>attackInterval_base</key>
		<real>1.5</real>
		<key>criticalBonus_base</key>
		<real>1.5</real>
		<key>criticalStrike_base</key>
		<real>0.1</real>
		<key>attack_growth</key>
		<integer>3</integer>
		<key>attack_base</key>
		<integer>30</integer>
		<key>energy_growth</key>
		<integer>5</integer>
		<key>energy_base</key>
		<integer>50</integer>
		<key>health_growth</key>
		<integer>20</integer>
		<key>health_base</key>
		<integer>200</integer>
	</dict>
</dict>
</plist>
